$color-bg: #586e80;
$color-bg--dark: darken($color-bg, 10%);
$color-contrast: #ffe400;
$color-text: #333;
$color-text--faded: lighten($color-bg, 30%);

$color-interactive: #1dccd0;
$color-interactive--active: lighten($color-interactive, 10%);

$slide-easing: cubic-bezier(0.86, 0, 0.07, 1);
$slide-timing: .6s;

html, body {
  background: $color-bg;
  color: $color-text;
  font-family: DINPro, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3 {
	color: $color-bg;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

body {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

a {
	border-bottom: solid 1px $color-interactive;
	color: $color-interactive;
	text-decoration: none;
}

.main {
	display: flex;
	justify-content: center;
	transform: translateY(0);

	transition: transform $slide-timing $slide-easing;

	.active-popup & {
		transform: translateY(100vh);
	}
}

.card {
	background: #fff;
	display: flex;
	flex: 0 1 20rem;
	flex-flow: column wrap;

	&__info {
		// border: {
		// 	style: solid;
		// 	width: 0 1px 1px 0;
		// 	color: #eee;
		// }
	}

	&__info-item {
		border: {
			style: solid;
			width: 1px 1px 0;
			color: #eee;
		}
		display: flex;
	}

	&__info-item-inner {
		padding: .25rem;

		&:first-child:not(:only-child) {
			border-right: solid 1px #eee;
		}
	}

	&__list {
		background: #e6f4f5;
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		list-style: none;
		margin: 0;
		padding: .25rem;
	}

	&__list-item {
		background: #fff;
		flex: 1 0 auto;
		height: 18px;
		margin: .25rem;
		padding: .25rem .5rem;
		text-align: center;

		&.is-user {
			background: $color-interactive;
			color: #fff;
			cursor: pointer;
			padding-left: 1rem;
			position: relative;

			transition: background-color .2s;

			&::before {
				content: '★';
				display: inline-block;

				color: #eaffaf;
				position: absolute;
				left: .5rem;
			}

			&:hover {
				background: $color-interactive--active;
			}
		}
	}

	&__button {
		background: $color-interactive;
		border: 0;
		border-radius: 0;
		color: #eaffaf;
		cursor: pointer;
		outline: 0;
		font-size: 1rem;
		font-weight: bold;
		padding: 1rem;
		text-transform: uppercase;

		transition: background-color .2s, color .2s;

		span {
			display: block;
			transition: transform .275s $slide-easing;
			will-change: transform;
		}

		&:hover {
			background: $color-interactive--active;

			span {
				transform: scale(1.2);
			}
		}

		&--secondary {
			background: #fff;
			color: $color-interactive;

			&:hover {
				color: #eaffaf;
			}
		}
	}
}

.signup {
	// background: #fff;
	// display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-100vh - 50%));
	width: 50vw;

	transition: transform $slide-timing $slide-easing;

	.active-popup & {
		transform: translate(-50%, -50%);
	}

	h1 {
		color: #fff;
	}

	&__close-btn {
		color: #fff;
		cursor: pointer;
		font-size: 2rem;
		padding: .25rem;
		position: absolute;
		right: 1rem; top: 1rem;

		transition: background .2s;

		&:hover {
			background: #eee;
		}
	}

	// &::after {
	// 	background: rgba(0,0,0,.8);
	// 	content: '';
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	height: 100vh;
	// 	width: 100vw;
	// }

	&__form {
		// background: #e6f4f5;
		display: flex;
		flex-flow: row wrap;
	}

	&__form-item {
		box-sizing: border-box;
		flex: 0 0 100%;
		// padding: .5rem;
		&--large {
			flex: 1 0 100%;
			font-size: 2rem;
		}
	}

	&__input,
	&__input--large {
		box-sizing: border-box;
		font-size: 1rem;
		opacity: .9;
		outline: 0;
		padding: 1rem;
		width: 100%;

		transition: transform .4s ease-in-out, opacity .4s;

		will-change: transform, opacity, margin;

		&:focus, &:hover {
			opacity: 1;
		}

		&--large {
			border: 0;
			box-sizing: border-box;
			font-size: 1rem;
			padding: 1rem;
			width: 100%;
			font-size: 2rem;
		}
	}

	textarea {
		font-size: 3rem;
		width: 100%;
	}
}


@keyframes slideUp {
	100% {
		transform: translateY(0);
	}
}


@keyframes slideDown {
	100% {
		transform: translateY(-100%);
		background: transparent;
	}
}

@keyframes jump {
	10% {
		transform: translateY(-.1em) scale(1.05);
		color: $color-contrast;
	},
	20% {
		transform: translateY(0) scale(1);
		color: $color-text;
	}
}
